<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <script src="/js/smoothScroll.js" type="text/javascript"></script>
    <!-- <script src="/js/headeropacity.js" type="text/javascript"></script> -->
    <script src="https://kit.fontawesome.com/bba9d51b18.js" crossorigin="anonymous"></script>
    <link type="Image/x-icon" href="./img/Favicon.ico" rel="icon">
</head>
 
<body>
    <header>
        <div class="header_background" id="querySelectorByClass"></div>
        <div class="headerlinks">
            <ul>
                <li><button>twitter</button></li>
                <li><button>instagram</button></li>
                <li><button>facebook</button></li>
                <li><button>telegram</button></li>
            </ul>
        </div>
        <details>
            <summary></summary>
            <nav class="menu">
                <a href="/">Home</a>
                <% try{%>
                    <% if (logged){%>
                        <a href="profile">Profile</a>
                        <%} else{%>
                            <a href="login">Sign In</a>
                            <%}%>
                                <%} catch{%>
                                    <a href="login">Sign In</a>
                                    <%}%>
                                        <% if (user !==undefined && user.accountType>= 1) { %>
                                            <a href="moderator_page">Moderation</a>
                                            <% } %>
                                                <a href="catalog">Catalog</a>
                                                <% if (logged){%>
                                                    <a>
                                                        <form action="/logout?_method=DELETE" method="POST">
                                                            <button type="submit" class="exit_button">Exit</button>
                                                        </form>
                                                    </a>
                                                    <%} %>

            </nav>
        </details>
    </header>
    <main>

        <div class="mainBG">
            <p
                style="font-size:36px; font-family: Gaefontly; font-weight: 100; color: #de5555; position: absolute; top: 300px;">
                estate agency</p>
            <p>Genesis</p>
            <p
                style="font-size: 40px; font-family: Gaefontly; font-weight: 100;  color: #de5555; position: absolute; bottom: 200px;">
                The genesis of your comfort life</p>
            <img src="/img/arrow.png" style="position: absolute; top: 900px;">
        </div>
        <img src="/img/BG1.png" class="mainBG_img">
        <div class="secondBG" align="center">
            <p
                style="font-size: 66px; font-family: gaefontly; font-weight: 700; position: absolute; top: 200px; color: #de5555;">
                about us</p>
            <p>
                The real estate agency was founded by Eric Peterson in <span style="color: #de5555;">1794</span>.<br>
                It is the <span style="color: #de5555;">first</span> and <span style="color: #de5555;">most
                    famous</span> agency in America.<br>
                We provide services for the <span style="color: #de5555;">sale, purchase, rental</span> of
                apartments.<br>
                Our divisions are located in <span style="color: #de5555;">all</span> metropolitan areas of <span
                    style="color: #de5555;">America</span>.<br>
            </p>
            <img src="/img/BG2.png">
        </div>
        <div class="thirdBG">
            <p
                style="position: absolute; top:30px; font-size: 66px; font-family: gaefontly; font-weight: 700; color: #de5555;">
                our creations</p>
            <div class="items">
                <a href="item_page">
                    <div class="item active">
                        <div class="info">
                            <p class="Titile" style="margin-top: 0;">Residential complex «<span
                                    style="color: #de5555; ">Paradise</span>»</p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791</p>
                            <p>One-room apartmet</p>
                            <p>Build in: 2013</p>
                            <p>Natural gas, hot water</p>
                            <p>Square Feet: 400</p>
                            <p>Price: 40 000$</p>
                        </div>
                        <img src="/img/BG1.png">
                    </div>
                </a>
                <a href="item_page">
                    <div class="item next">
                        <div class="infoNA">
                            <p class="Titile" style="margin-top: 0;">Residential complex «<span
                                    style="color: #de5555;">Paradise</span>»</p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791</p>
                            <p>One-room apartmet</p>
                            <p>Build in: 2013</p>
                            <p>Natural gas, hot water</p>
                            <p>Square Feet: 400</p>
                            <p>Price: 40 000$</p>
                        </div>
                        <img src="/img/BG1.png">
                    </div>
                </a>
                <a href="item_page">
                    <div class="item">
                        <div class="infoNA">
                            <p class="Titile" style="margin-top: 0;">Residential complex «<span
                                    style="color: #de5555;">Paradise</span>»</p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791</p>
                            <p>One-room apartmet</p>
                            <p>Build in: 2013</p>
                            <p>Natural gas, hot water</p>
                            <p>Square Feet: 400</p>
                            <p>Price: 40 000$</p>
                        </div>
                        <img src="/img/BG1.png">
                    </div>
                </a>
                <a href="item_page">
                    <div class="item">
                        <div class="infoNA">
                            <p class="Titile" style="margin-top: 0;">Residential complex «<span
                                    style="color: #de5555;">Paradise</span>»</p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791</p>
                            <p>One-room apartmet</p>
                            <p>Build in: 2013</p>
                            <p>Natural gas, hot water</p>
                            <p>Square Feet: 400</p>
                            <p>Price: 40 000$</p>
                        </div>
                        <img src="/img/BG1.png">
                    </div>
                </a>
                <a href="item_page">
                    <div class="item prev">
                        <div class="infoNA">
                            <p class="Titile" style="margin-top: 0;">Residential complex «<span
                                    style="color: #de5555;">Paradise</span>»</p>
                            <p style="margin-top:12px;">17 Kathleen Drive, Syosset, NY 11791</p>
                            <p>One-room apartmet</p>
                            <p>Build in: 2013</p>
                            <p>Natural gas, hot water</p>
                            <p>Square Feet: 400</p>
                            <p>Price: 40 000$</p>
                        </div>
                        <img src="/img/BG1.png">
                    </div>
                </a>
                <div class="button-container">
                    <div class="button"><i class="fas fa-angle-left"></i></div>
                    <div class="button"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="fourthBG">
            <p class="service" align="center">
                <span>Services</span><br><br>

                You can fill out a form to contact the manager.<br>
                The manager will contact you by email.<br>
                We will help you to sell, buy or rent a property.<br>
            </p>

            <form method="POST" action="/sendform">
                <p class="fillout">Fill out the form</p>
                <div class="inputs">
                    <div>
                        <p>Counrty</p>
                        <% if (logged) { %>
                            <input name="country" placeholder="example: USA" required>
                            <% } else { %>
                                <input placeholder="You must be logged for text here" disabled>
                                <% } %>
                    </div>
                    <div>
                        <p>State</p>
                        <% if (logged) { %>
                            <input name="state" placeholder="example: Ohio" required>
                            <% } else { %>
                                <input placeholder="You must be logged for text here" disabled>
                                <% } %>
                    </div>
                    <div>
                        <p>City</p>
                        <% if (logged) { %>
                            <input name="city" placeholder="example: Columbus" required>
                            <% } else { %>
                                <input placeholder="You must be logged for text here" disabled>
                                <% } %>
                    </div>

                    <div>
                        <p>Type of service</p>
                        <select name="typeofservice" required <% if (logged==false) { %> disabled <% } %>>
                                <% if (logged) { %>
                                    <option value="">Choose option</option>
                                    <% } else { %>
                                        <option value="">You must be logged for select</option>
                                        <% } %>
                                            <option value="sell">Sell</option>
                                            <option value="purchase">Purchase</option>
                                            <option value="rent">Rent</option>
                        </select>
                    </div>
                </div>
                <% if (logged) { %>
                    <button type="submit">Submit</button>
                    <% } else { %>
                        <button type="button" onclick="window.location.href='/login'">Log in</button>
                        <% } %>
            </form>
        </div>
        <div class="fifthBG">
            <div class="offer">
                <p
                    style="position:absolute; top: 20px; font-size: 56px; font-family: Georgia; font-weight: 600; color: #de5555;">
                    Lets build together</p>
                <div class="infoAP">
                    <p style="background-color: #de5555; padding: 20px; font-size: 56px; top: 0;">Become our parter</p>
                    <p style="font-size: 34px; top: 150px;">Let's make our franchise famous<br>all over the world</p>
                    <button>Become a partner</button>
                </div>
                <div class="prikoli">
                    <div><img src="/img/disc.png">
                        <p>Discounts on real estate for partners</p>
                    </div>
                    <div><img src="/img/percent.png" style="width:30px; height:28px; bottom: 0; margin-top: 20px;">
                        <p>Interest on sales</p>
                    </div>
                </div>
                <img src="/img/IMG_1.png" class="img_1">
                <img src="/img/IMG_2.png" class="img_2">
                <img src="/img/IMG_3.png" class="img_3">
            </div>
        </div>
    </main>
    <footer>
        <div class="contentConteiner">
            <div class="loca">
                <img src="/img/coord.png">
                <p>Our office is located on<br> <a href="https://goo.gl/maps/Qa4EdgyVNMRJApzt7">27 W 72nd St, New York, NY 10023</a> </p>
            </div>
            <div class="socials">
                <img src="/img/news.png">
                <p>Follow the news on our social<br><a>OUR SOCIALS</a></p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/js/hummer.js"></script>
</body>

</html>