<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/register.css">
    <link type="Image/x-icon" href="./img/Favicon.ico" rel="icon">
</head>
<body>
    <% if (messages.error) {%>
        <%= messages.error%>
        <% } %>
    <form style="height:500px;" action="/login" method="POST">
        <p class="fillout">Login</p>
        <div class="inputs">
            <div>
                <label for="email">eMail</label>
                <input type="email" id="email" name="email" required>
            </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
        </div>
        <button type="submit">Submit</button>
        <p style="position:absolute; bottom: 40px; font-size: 18px; color: white; font-family: Georgia; font-weight: 600;">Don't have an account yet?
        <a style="color: #de5555;" href="/register">Register.</a></p>
    </form>
</body>
</html>