<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
    <script src="/js/smoothScroll.js" type="text/javascript"></script>
</head>

<body>
    <a href="/">
        <div class="menuBTN">
            G
        </div>
    </a>
    <div class="mainBlock">
        <div class="profile">
            <div class="profileIMG">

            </div>
            <div class="profileInfo">
            </div>
            <hr>
            <hr class="verical">
            <div class="infoABestate">
                <div style="top: 150px;">
                    <p>Namhgje</p>
                    <p><%= name %></p>
                    <p>Last name</p>
                    <p><%= lastname %></p>
                </div>
                <div style="bottom:150px;">
                    <p>Phone number</p>
                    <p><%= number %></p>
                    <p>eMail</p>
                     <p><%= email %></p> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>