* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
	font-family: 'Russo One'; 
	src: local('Font Name'),
		url(/fonts/RussoOne-Regular.ttf); 
}

@font-face {
	font-family: 'Gaefontly'; 
	src: local('Font Name'),
		url(/fonts/Gaefontly.ttf); 
}

a{
  cursor: pointer;
}

button{
  cursor: pointer;
}

A:link {
  text-decoration: none;
  color: white;
}

A:visited {
  text-decoration: none;
  color: white;
}

A:active {
  text-decoration: none;
  color: white;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  background-color: #242424;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #272727;
  box-shadow: 0px 2px 14px #333333;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  color: white;
  position: absolute;
  font-size: 35px;
  font-family: russo one;
  font-weight: 200;
  left: 70px;
}

.logo span {
  color: #de5555;
}

.add_objective {
  position: absolute;
  left: calc(50% - 75px);
  background-color: initial;
  width: 150px;
  height: 35px;
  border: 1px solid #de5555;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-family: gaefontly;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* menu css */


details {
  z-index: 235235;
  position: absolute;
  right: 70px;
}
summary {
  text-align: center;
  padding: 12px 10px;
  width: 21px;
  height: 17px;
  background-color: #232323;
  border: 2px solid #de5555;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
   
}
summary::before,
summary::after {
  position: absolute;
  
}
summary::before {
  content: "";
}
summary::after {
  font-family: Arial, Helvetica, sans-serif;
  content: "| | |";
  font-weight: bold;
  position: absolute;
  transform: rotate(90deg);
  height: auto;
  width: 30px;
  letter-spacing: -2px;
}

summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "X";
  font-weight: bold;
  width: 11px;
  height: 16px;
}
details[open] summary::after {
  content: "";
}
.menu {
  position: absolute;
  height: 0;
  width: fit-content;
  border-radius: 4px;
  background-color: #232323;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
  right: 0px;
}
.menu a {
  padding: 12px 24px;
  margin: 0 16px;
  color: #fff;
  border-bottom: 2px solid #2b2b2b;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-family: Gaefontly;
}
.menu a:nth-of-type(1) {
  padding-top: 18px;
}
.menu a:nth-of-type(1) {
  padding-top: 18px;
}

.menu a:hover {
  border-bottom: 2px solid #de5555;
}

details[open]::before {
  animation: fadeMe 300ms linear forwards all;
 
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}


.exit_button{
  background-color: initial;
  color: white;
  font-family: Gaefontly;
  font-weight: 300;
  font-size: 16px;
  border: none;
  width: 50px;
}

/* adds css */

.item_list {
  position: relative;
  height: auto;
  width: 80%;
  top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: 350px;
  height: 450px;
  border: 2px solid #de5555;
  border-radius: 2%;
  width: 350px;
  height: 450px;
  max-height: 450px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  object-fit: cover;
  overflow: hidden;
}

.info {
  bottom: 0;
  width: 450px;
  height: 200px;
  z-index: 515;
  position: absolute;
  background-color: #2b2b2b;
  transform: translate(0%, 70%);
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info:hover {
  transform: translate(0%, 0%);
}

.Titile {
  position: absolute;
  top: 10px;
  font-size: 18px;
}

.item div p {
  position: relative;
  color: white;
  font-family: Bahnschrift;
  margin-top: 8px;
}

.exit_button{
  background-color: initial;
  color: white;
  font-family: Gaefontly;
  font-weight: 300;
  font-size: 16px;
  border: none;
  width: 50px;
}