* {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  width: 100%;
  height: 5670px;
  background-color: #2b2b2b;
  overflow-x: hidden;
}

.mainBG_img {
  position: relative;
  width: 100%;
}

.headerlinks {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 2;
}

ul {
  width: 480px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}

ul li button {
  font-size: 20px;
  color: #de5555;
  font-family: Russo One;
  background-color: initial;
  border: none;
  cursor: pointer;
}

.mainBG {
  width: 100%;
  height: 800px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.mainBG p {
  color: white;
  font-size: 222px;
  font-family: Georgia;
  font-weight: 700;
}

.secondBG {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 914px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secondBG p {
  color: white;
  font-size: 63px;
  font-family: Georgia;
  font-weight: 500;
  letter-spacing: -3px;
}

.secondBG img {
  position: absolute;
}

.thirdBG {
  position: relative;
  height: 880px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* slider */

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 550px;
  border-radius: 2%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  border: 2px solid #de5555;
}

.item.prev {
  scale: 0.9;
  z-index: 2;
  opacity: 0.35;
  transform: translate(-170%, -55%);
  border: 2px solid #de5555;
}

.item.next {
  scale: 0.9;
  z-index: 2;
  opacity: 0.35;
  transform: translate(59%, -55%);
  border: 2px solid #de5555;
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  z-index: 100;
}

.button-container .button {
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  color: #de5555;
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

/* end of slider */

/* info in slider */

.info {
  bottom: 0;
  width: 450px;
  height: 200px;
  z-index: 515;
  position: absolute;
  background-color: #2b2b2b;
  transform: translate(0%, 70%);
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info:hover {
  transform: translate(0%, 0%);
}

.infoNA {
  bottom: 0;
  width: 450px;
  height: 200px;
  z-index: 515;
  position: absolute;
  background-color: #2b2b2b;
  transform: translate(0%, 70%);
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item div p {
  position: relative;
  color: white;
  font-family: Bahnschrift;
  margin-top: 8px;


}

.Titile {
  position: absolute;
  top: 10px;
  font-size: 18px;
}

/* fourthBG */

.fourthBG {
  position: relative;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.fourthBG form{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #232323;
  width: 650px;
  height: 870px;
  border-radius: 20px;
}

.fourthBG p{
  position: relative;
}